.container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.wrapper {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
